# phpstorm project files
.idea

# Windows thumbnail cache
Thumbs.db

# Composer vendor dir
/vendor

# Pictures (img files).
/resources

# Passwords.
/configs/tokens.php

# Hide IP
.htaccess

# Hide configure
.env
