<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>EUROVISION</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Concert+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows+Into+Light">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="fon">
	<div class="a a1">English</div><br>
	<div class="a a2">Song Contest 2017</div><br>
	<div class="a a3">#eurovision2017@eng_day</div><br>
	<div class="a a4"><i class="fa fa-refresh" aria-hidden="true"></i> every 5 minutes</div>
</div>

</body>
</html>